{% extends 'base.html' %}

{% block title %}Login - GM Bank{% endblock %}

{% block content %}
    <section class="form-section">
        <div class="container">
            <h2>Login to Your Account</h2>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </section>
{% endblock %}

